body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	font-size: 2em;
}

body .test {
	padding: 12px;
	color: grey;
}
nav{
	display: flex;
	justify-content: flex-end;

}
nav .nav-link {
	display: inline-block;
	margin-right: 12px 0 0 0;
}

header{
	padding: 24px 12px;
}

div.test-2.test {
	color: green;
}




div.test span {
	font-family: "Trebuchet MS", "Times New Roman", serif;
	font-style: italic;
}


/*подучить*/
#unique {
	color: #ff1493;
	display: none;
}
.test:not(.test2):hover ~ div#unique {
	display: block;
}

.someclass{
flex-direction: row-reverse;
flex-direction: column-reverse;
}
