body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	font-size: 2em;
}

body .test {
	padding: 12px;
	color: grey;
}

div.test-2.test {
	color: green;
}




div.test span {
	font-family: "Trebuchet MS", "Times New Roman", serif;
	font-style: italic;
}


/*подучить*/
#unique {
	color: #ff1493;
	display: none;
}
.test:not(.test2):hover ~ div#unique {
	display: block;
}

